{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Add Team</h3><hr>
      <form method='post' action='{{ url_for("views.add_team") }}'>
        <div class='form-group'>
          <label>Team Name</label>
          <input type='text' name='team_name' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Team Location</label>
          <input type='text' name='team_location' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Number of Team Members</label>
          <input type='number' name='number_of_team_members' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Email Address</label>
          <input type='email' name='team_email_address' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Phone Number</label>
          <input type='number' name='team_phone_number' required class='form-control'> <br />
        </div>
        <input type='submit' value='Submit' style='padding: 15px;' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}
