{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="centered-container">
        <div class="content">
            <h1 class="py-3">Welcome to Contact Manager, Please Sign Up or Log In </h1>
            <div class="button-container">
                <!-- Bootstrap Buttons for Log In and Sign Up -->
                <a href="/login" class="btn btn-primary btn-lg mx-2">Log In</a>
                <a href="/signup" class="btn btn-outline-primary btn-lg mx-2">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock %}
