{% extends "base.html" %}
{% block content %}
<h2>Production Support Rota (Monthly)</h2>
<table>
    <tr>
        <th>Week</th>
        {% for day in days %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    {% for week_num, week in enumerate(rota, start=1) %}
    <tr>
        <td>Week {{ week_num }}</td>
        {% for day in days %}
        <td>
            {{ week[day].name }}<br>
            <small>{{ week[day].team }}</small>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}