name: Flask App CI

on:
  push:
    branches: ["main"]

jobs:
  smoke:
    runs-on: ubuntu-latest
    env:
      FLASK_ENV: testing
      TESTING: "true"
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DATABASE_URL: ${{ secrets.PROD_DATABASE_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run smoke tests
        run: pytest -q app/tests/test_smoke.py

  deploy:
    name: Deploy
    needs: smoke
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Production Server
        with:
          service-id: ${{ secrets.SERVICE_ID }}
          api-key: ${{ secrets.API_KEY }}
        

  build-test:
    runs-on: ubuntu-latest
    needs: smoke
    env:
      FLASK_ENV: testing
      TESTING: "true"
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DATABASE_URL: ${{ secrets.PROD_DATABASE_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest coverage pytest-cov

      - name: Run full test suite
        run: pytest

      # - name: Coverage
      #   run: |
      #     coverage run -m pytest
      #     coverage xml
      #     coverage report --fail-under=70

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml